/* Propriété générales au document */
.container-fluid{
    padding: 0;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
}
/* Partie navigation */
.photo-bear{
    border-radius: 10%;
}
.active{
    color: #03b66f !important;
}
/* partie header */
.quote{
    position: relative;
    background-image: url(media/header_landscape.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 80px;
    padding: 2rem 0;
}
/* Partie contact */
#contact_info{
    background-color: #03b66f;
    color: #ffffff;
}
.icon_frame{
    width: 80px;
    height: 80px;
    background-color: #2a2b35;
    border-radius: 10%;
}
.fas{
    font-size: 40px;
}
.text_contact{
    padding: 10px;
    color: #ffffff;
}
#contact_info a{
    text-decoration: none;
    color: #ffffff;
}

/* Partie map */

/* Partie fomulaire */
#formulaire{
    background-color: #2a2b35;
    color: #ffffff;
}
.saisie{
    background-color: #2a2b35;
    border: none;
    border-bottom: solid 2px grey;
    color: #ffffff;
}

textarea{
    min-height: 200px;
    background-color: #2a2b35;
    border: none;
    border-left: solid 2px grey; 
    color: #ffffff;
    max-height: 400px;
}
.btnEnvoi{
    height: 50px;
    border: none;
    background-color: #03b66f;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.btnEnvoi:hover{
    cursor: pointer;
    color: #03b66f;
    background-color: #ffffff;
    transition: .200s
}
.title_form:after{
    display: block;
    content: "____";
    font-size: 30px;
    font-weight: bold;
    color: #03b66f;
    margin-top: -15px;
}
.grey_form{
    color: grey;
    font-weight: lighter;
}
::placeholder {
    color: #ffffff !important;
    font-size: 20px;
}
.pays {
    font-size: 20px;
}
/* personalisation des checkbox */
/* -------------------------------------------- */
 /* Customize the label (the container) */
 .boite_check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .boite_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .boite_check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .boite_check input:checked ~ .checkmark {
    background-color: #03b66f;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .boite_check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .boite_check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 
/* -------------------------------------------- */
 /* Customize the label (the container)*/
 
 .boite_radio {
    font-size: 20px;

  }
  
  /* Hide the browser's default radio button */
  .boite_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radiobtn {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .boite_radio:hover input ~ .radiobtn {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .boite_radio input:checked ~ .radiobtn {
    background-color: #03b66f;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiobtn:after {
    content: "";
    position: relative;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .boite_radio input:checked ~ .radiobtn:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .boite_radio .radiobtn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  } 
  /* -------------------------------------- */
/* Partie footer */
footer{
    background-color: #03b66f;
}
footer a{
    text-decoration: none !important;
    color: #ffffff;
}
footer .fab{
    color: #2a2b35;
    font-size: 30px;
}
footer .fab:hover{
    color: #ffffff;
    transition: .200s;
    text-decoration: none !important;
}
.menu_footer{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.menu_footer:hover{
    color: #2a2b35;
    transition: .200s;
}
.copyright{
    float: right;
    color: #ffffff;
    font-weight: bold;
}